body {
    color: #333;
    font-family: Georgia, serif;
    line-height: 1.4em;
}

.fa-heart {
    cursor: pointer;
}

article {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#post-public-button {
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    color: #000;
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 16px;
    text-transform: uppercase;
    padding: 4px 12px;
    background-color: #fff;
    cursor: pointer;
    z-index: 900;    
    position: relative;
    float: right;
}

#heart-parent {
    float: left;
    position: relative;
}

#peer-info {
    float: right;
    position: relative;
}

.standalone-container {
    margin-left: 50px;
    max-width: 900px;
}
  
.ql-editor {
    overflow: hidden;
    height: auto;
}

.ql-bubble .ql-editor h1 {
    font-size: 32px;
    line-height: 34px;
}

.ql-bubble .ql-editor h2 {
    font-size:  28px;
    line-height: 30px;
}

.ql-bubble .ql-editor h3 {
    font-size:  24px;
    line-height: 26px;
}

.ql-bubble .ql-editor h4 {
    font-size:  20px;
    line-height: 22px;
}

.ql-bubble .ql-editor * {
    font-size: 18px;
}

#post-info-section {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.ql-bubble .ql-editor img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ql-editor.ql-blank {
    font-size: 19px;
}

a {
    color: #333;
}