#editor {
    max-height: 700px;
}

.ql-editor {
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: CustomSerif,Georgia,Cambria,'Times New Roman',serif;
}


p {
    font-size: 18px;
}

.fa-heart {
    cursor: pointer;
}



