<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">

<!-- Create the editor container -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="title">
          Peerdium
        </h1>
      </a>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      {% verbatim %}
      <div class="level-left" id="peer-info">Hosted by {{num_peers}} awesome folks</div>
      {% endverbatim %}
      <div class="level-right" id="heart-section">
          <i v-bind:class="class_name"></i>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-medium" type="text" placeholder="Title">
        </div>
      </div>

   
      <div id="editor"></div>
      <a id="post-public-button" v-on:click="post_document" class="button is-success">Publish</a>
    </div>
    <div id="csrf-holder" data-csrf="{{csrf_token}}"></div>
    <div id="magnet-holder" data-magnet-link="{{magnet_url}}"></div>
  </section>
  </body>
</html>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/webtorrent@latest/webtorrent.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/vue.js"></script>
<script src="/static/editor.js"></script>

