<link rel="stylesheet" href="/static/quill.bubble.css">
<link href="/static/style.css" rel="stylesheet">
<script src="/static/vue.js"></script>


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peerdium</title>
    <script defer src="/static/all.js"></script>
  </head>
  <body>
    <article>
      {% verbatim %}
      <div id="post-info-section">
        <div id="heart-parent" v-on:click="toogle_heart">
          <div v-bind:class="class_name"></div>
        </div>
        <div v-if="show_post_button" id="post-public-button" v-on:click="post_document">PUBLISH</div>
        <div v-else id="peer-info">{{num_peers}} <i class="fas fa-users"></i></div>  
      </div>
      {% endverbatim %}
      <div class="standalone-container">
          <div id="editor"></div>
      </div>
    </article>
  </section>
  </body>
</html>

<script src="/static/quill.js"></script>
<script src="/static/webtorrent.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="/static/editor.js"></script>

