<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.bubble.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet">

<!-- Create the editor container -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peerdium</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="is-offset-one-quarter is-half column">
          {% verbatim %}
          <div id="post-info-section">
            <div class="level">
                <div class="level-left">
                    <div class="has-text-danger	">
                      <i v-bind:class="class_name"></i>
                    </div>
                </div>
                <div class="level-right">
                      <a v-if="show" id="post-public-button" v-on:click="post_document" class="button is-rounded">Publish</a>
                      <div v-else id="peer-info">{{num_peers}} <i class="fas fa-users"></i></div>  
                </div>
            </div>
          </div>
          {% endverbatim %}
          <div id="editor">
            <div id="editor-holder" style="overflow: hidden;">
                <h1 data-placeholder="Title" data-label="Title" class="empty"><br>Title</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="csrf-holder" data-csrf="{{csrf_token}}"></div>
    <div id="magnet-holder" data-magnet-link="{{magnet_url}}"></div>
  </section>
  </body>
</html>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/webtorrent@latest/webtorrent.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/vue.js"></script>
<script src="/static/editor.js"></script>

